<li [class.completed]="todo.completed" [class.editing]="editing">
    <div class="view">
        <input id="movie-input" class="toggle" type="checkbox" (click)="toggleCompletion()" [checked]="todo.completed">
        <label for="movie-input" (dblclick)="edit(todo)">
            {{ todo.title | trim }}
            <a [class]="'movie-link movie-link-'+todo.websiteRef.origin" *ngIf="todo.websiteRef" [href]="todo.websiteRef.link">{{todo.websiteRef.name}}</a>
        </label>
        <button class="destroy" (click)="remove()"></button>
    </div>
    <input class="edit" *ngIf="editing" [value]="todo.title" #editedtodo (blur)="stopEditing(editedtodo)" (keyup.enter)="stopEditing(editedtodo)" (keyup.escape)="cancelEditing()">
</li>
